.avatar {
    margin-bottom: 30px;
}

.name {
    font-size: 50px;
    font-weight: 500;
    margin: 0px;
}

.isOnline {
    font-size: 30px;
    color: green;
        margin: 0px;
}

.isOffline {
        margin: 0px;
    font-size: 30px;
    color: red;
}