.container {
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    gap: 12px;
    
}

.icon {
    margin-right: 5px;
width: auto;
color: black;
}

.text {
    margin: 0;
}

.btn {
    margin: auto;
    background-color: rgb(216, 216, 216);
}