.profileItem {
    border: 4px solid black;
    border-radius: 8px;
    width: 700px;
    margin: auto;
    margin-bottom: 70px;
}

.userAvatar {
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgb(49, 48, 48);
    margin-top: 30px;
    margin-bottom: 50px;
}

.userName {
    color: black;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 15px;
}

.userInfo {
    color: gray;
    font-size: 50px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.list {
    margin: 0px;
    padding: 0px;
}

.item {
    display: flex;
}

.statType {
    color: black;
    font-size: 35px;
}

.statInfo {
    color: black;
    font-size: 40px;
    font-weight: 700;
}